<!DOCTYPE html>

<html ng-app="app">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>DryPack</title>

  <link rel="shortcut icon" ng-href="{{ ::global.imagePath + '/favicon.ico' }}" type="image/x-icon">
  <link rel="icon" ng-href="{{ ::global.imagePath + '/favicon.ico' }}" type="image/x-icon">

  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <!--All the injects are generated and inserted automatically using a gulp task. When the production parameter is passed, the files are minified
    -->

  <!-- inject:all:css -->
  <link rel="stylesheet" href="/admin/build/application.css?version=wyyebdllhujkc6x">
  <!-- end:inject:all:css -->

  <!--Family Font used in the project -->
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

  <!-- Material Icons (Reference: https://design.google.com/icons/ )-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!--[if lte IE 10]>
      <script type="text/javascript">document.location.href = '/admin/app/shared/unsupported-browser.html'</script>
    <![endif]-->
</head>

<body ng-controller="AppController as appCtrl" layout="column">
  <md-content flex>
    <c2-spinner></c2-spinner>
    <ui-view/>

    <!-- inject:vendors:script  -->
    <script src="/admin/build/vendors.js?version=zue34o5ps5e77yu"></script>
    <script src="/admin/build/angular-with-plugins.js?version=zue34o5ps5e77yu"></script>
    <!-- end:inject:vendors:script  -->

    <!-- inject:application:script -->
    <script src="/admin/build/application.js?version=mnz2a3vcg2fvips"></script>
    <!-- end:inject:application:script  -->
  </md-content>
</body>

</html>
