<md-dialog aria-label="Logs" flex="60" class="md-dialog-transparent">
  <content-body>
    <div flex="50" ng-if="auditDetailCtrl.auditDetail.old_values">
      <box box-title="{{ ::auditDetailCtrl.auditDetail | auditDetailTitle:'before' }}">
        <ul>
          <li class="break" ng-repeat="(key, value) in auditDetailCtrl.auditDetail.old_values">{{ ::key | tAttr}}: {{ ::value | auditValue:key}}</li>
        </ul>
        <box-footer-buttons>
          <md-button class="md-warn" ng-click="auditDetailCtrl.close()">{{::'views.actions.close' | translate}}</md-button>
        </box-footer-buttons>
      </box>
    </div>

    <div flex="50" ng-if="auditDetailCtrl.auditDetail.new_values">
      <box box-title="{{ ::auditDetailCtrl.auditDetail | auditDetailTitle:'after' }}">
        <ul>
          <li class="break" ng-repeat="(key, value) in auditDetailCtrl.auditDetail.new_values">{{ ::key | tAttr}}: {{ ::value | auditValue:key}}</li>
        </ul>
        <box-footer-buttons>
          <md-button class="md-warn" ng-click="auditDetailCtrl.close()">{{::'views.actions.close' | translate}}</md-button>
        </box-footer-buttons>
      </box>
    </div>
  </content-body>
</md-dialog>
