<content-body>
  <div flex="100">
    <box box-title="{{::'views.actions.search' | translate}}">
      <md-content layout-padding md-whiteframe="1" class="bottom-4">
        <form class="condensed" name="dynamicQueryForm" ng-submit="dynamicQueryCtrl.addFilter(dynamicQueryForm)">
          <div layout="row">
            <md-input-container class="top-10 bottom-20" flex=33>
              <label>{{::'views.fields.queryDynamic.resource' | translate}}</label>
              <md-select
                 ng-model="dynamicQueryCtrl.queryFilters.model" required ng-disabled="dynamicQueryCtrl.addedFilters.length > 0"
                 ng-change="dynamicQueryCtrl.loadProps()">
                <md-option ng-repeat="model in dynamicQueryCtrl.models track by model.name" ng-value="model">
                  {{::model.name | tModel}}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div layout="row">
            <md-input-container flex>
              <label>{{::'views.fields.queryDynamic.property' | translate}}</label>
              <md-select
                ng-model="dynamicQueryCtrl.queryFilters.prop" required
                ng-change="dynamicQueryCtrl.loadOperators()">
                <md-option ng-repeat="prop in dynamicQueryCtrl.props track by prop.name" ng-value="prop">
                  {{::prop.name | tAttr}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex>
              <label>{{::'views.fields.queryDynamic.operator' | translate}}</label>
              <md-select
                ng-model="dynamicQueryCtrl.queryFilters.op" required>
                <md-option ng-repeat="op in dynamicQueryCtrl.operators track by op.value" ng-value="op">
                  {{::op.label}}
                </md-option>
              </md-select>
            </md-input-container>
            <md-input-container flex>
              <label>{{::'views.fields.queryDynamic.value' | translate}}</label>
              <input type="text" ng-model="dynamicQueryCtrl.queryFilters.value" required>
            </md-input-container>
          </div>
          <div layout="row" class="top-10">
            <md-input-container flex>
            </md-input-container>
            <md-button class="md-raised md-mini" ng-click="dynamicQueryCtrl.clear()">
              {{::'views.actions.clear' | translate}}
            </md-button>
            <md-button class="md-raised md-warn md-mini" ng-click="dynamicQueryCtrl.restart()">
              {{::'views.actions.restart' | translate}}
            </md-button>
            <md-button class="md-raised md-primary md-mini" type="submit">
              {{((dynamicQueryCtrl.index < 0) ? 'views.actions.add' : 'views.actions.update') | translate}}
            </md-button>
          </div>
        </form>
      </md-content>


      <md-content layout-padding md-whiteframe="1" class="bottom-4">
        <div layout="row">
          <h4 class="top-2 bottom-2">{{'views.fields.queryDynamic.filters' | translate}}</h4>
        </div>

        <md-table-container>
          <table md-table class="condensed">
            <thead md-head>
              <tr md-row>
                <th md-column>{{::'views.fields.queryDynamic.model' | translate}}</th>
                <th md-column>{{::'views.fields.queryDynamic.property' | translate}}</th>
                <th md-column>{{::'views.fields.queryDynamic.operator' | translate}}</th>
                <th md-column>{{::'views.fields.queryDynamic.value' | translate}}</th>
                <th md-column class="md-text-center">{{::'views.fields.actions' | translate}}</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="filter in dynamicQueryCtrl.addedFilters" ng-if="dynamicQueryCtrl.addedFilters.length > 0">
                <td md-cell>{{ ::filter.model.name | tModel}}</td>
                <td md-cell>{{ ::filter.prop.name | tAttr }}</td>
                <td md-cell>{{ ::filter.op.label}}</td>
                <td md-cell>{{ ::filter.value }}</td>
                <td md-cell class="md-text-center">
                  <md-button class="md-mini" ng-click="dynamicQueryCtrl.editFilter($index, filter)">
                    <md-icon md-font-set="material-icons">edit</md-icon>
                    <md-tooltip md-direction="bottom">{{::'views.actions.edit' | translate}}</md-tooltip>
                  </md-button>
                  <md-button class="md-mini" ng-click="dynamicQueryCtrl.removeFilter($index)">
                    <md-icon md-font-set="material-icons">delete</md-icon>
                    <md-tooltip md-direction="bottom">{{::'views.actions.remove' | translate}}</md-tooltip>
                  </md-button>
                </td>
              </tr>
              <tr md-row ng-if="dynamicQueryCtrl.addedFilters.length === 0">
                <td md-cell colspan="5">
                  <div layout="row" layout-align="center center">{{::'messages.queryDynamic.noFilter' | translate}}</div>
                </td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <div layout="row">
          <div flex>
          </div>
          <md-button class="md-raised md-primary md-mini" ng-click="dynamicQueryCtrl.runFilter()">
              {{::'views.actions.filter' | translate}}
          </md-button>
        </div>
      </md-content>

      <md-content layout-padding md-whiteframe="1" class="bottom-4">
        <h4 class="top-2 bottom-2">{{'views.fields.queryDynamic.results' | translate}}</h4>

        <md-table-container ng-if="dynamicQueryCtrl.resources.length > 0">
          <table md-table class="condensed">
            <thead md-head>
              <tr md-row>
                <th md-column ng-repeat="key in dynamicQueryCtrl.keys">{{::key | tAttr}}</th>
              </tr>
            </thead>
            <tbody md-body>
              <tr md-row ng-repeat="resource in dynamicQueryCtrl.resources">
                <td md-cell ng-repeat="key in dynamicQueryCtrl.keys">{{ ::resource[key] | auditValue:key}}</td>
              </tr>
            </tbody>
          </table>
        </md-table-container>

        <div layout="row" layout-padding layout-align="center center" ng-if="dynamicQueryCtrl.resources.length === 0">
          {{'messages.notFound' | translate}}
        </div>
      </md-content>

      <box-footer-buttons>
        <c2-pagination paginator="dynamicQueryCtrl.paginator"></c2-pagination>
      </box-footer-buttons>
    </box>
  </div>
</content-body>
