<md-dialog flex=50 aria-label="recSenha" class="md-dialog-transparent">
  <content-body>
    <box box-title="{{'views.titles.resetPassword' | translate}}">
      <md-content flex layout-padding>
        {{'dialog.login.resetPassword.description' | translate}}
        <form>
          <md-input-container class="md-block">
            <label>{{'attributes.email' | translate}}</label>
            <input type="email" ng-model="passCtrl.reset.email" md-select-on-focus>
          </md-input-container>
        </form>
      </md-content>
      <box-footer-buttons>
        <md-button class="md-warn" ng-click="passCtrl.closeDialog()">{{::'views.actions.close' | translate}}</md-button>
        <md-button class="md-raised" ng-click="passCtrl.cleanForm()">{{::'views.actions.clear' | translate}}</md-button>
        <md-button class="md-primary md-raised" ng-click="passCtrl.sendEmailResetPassword()">{{::'views.actions.send' | translate}}</md-button>
      </box-footer-buttons>
    </box>
  </content-body>
</md-dialog>
