<div layout="row" class="full-height" ng-controller="MenuController as menuCtrl" ng-cloak>

    <ng-include src="global.clientPath + '/shared/menu.html'" ng-if="auth.authenticated()"></ng-include>

    <div layout="column" flex class="full-height">

        <ng-include src="global.clientPath + '/shared/header.html'" ng-if="auth.authenticated()"></ng-include>

        <md-content layout="column" flex md-scroll-y>

            <!-- This is the div where the ui-router add the content using the directive ui-view -->
            <div flex="noshrink" ui-view></div>
        </md-content>

        <!-- Footer -->
        <ng-include src="global.clientPath + '/shared/footer.html'"></ng-include>

    </div>

</div>
