<div layout="row" aria-hidden="false" layout-align="center center" flex="noshrink">
  <div id="license-footer" flex>{{::global.appName}} - Copyright &copy; {{::appCtrl.currentYear}} ({{::global.apiPath}}).</div>
</div>
