<md-sidenav class="site-sidenav md-sidenav-left full-height" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')"
  hide-print md-whiteframe="4" ng-style="::menuCtrl.sidenavStyle.content">

  <header class="nav-header" ng-style="::menuCtrl.sidenavStyle.top">
    <a class="logo" href="{{appCtrl.homeUrl}}">
      <div class="principal" ng-style="{'background-image':'url(' + appCtrl.getProfileImage() + ')'}">
      </div>
      <span ng-style="menuCtrl.sidenavStyle.textColor">{{auth.currentUser.name}}</span>
      <span class="email" id="logged-user-mail" ng-style="::menuCtrl.sidenavStyle.textColor">{{auth.currentUser.email}}</span>
    </a>
  </header>

  <md-content layout-padding flex style="text-transform:uppercase;" ng-style="::menuCtrl.sidenavStyle.content">
    <ul class="menu-sidenav">
      <li ng-repeat="item in menuCtrl.itemsMenu" ng-style="::menuCtrl.sidenavStyle.lineBottom" ng-if="menuCtrl.hasPermission(item)">
        <md-menu md-offset="0 55" >
          <md-button class="md-button md-buttom-menu" ng-click="menuCtrl.openMenuOrRedirectToState($mdMenu, $event, item)">
            <md-icon md-font-set="material-icons" class="pull-left menu-icon" ng-style="menuCtrl.sidenavStyle.textColor">
              {{::item.icon}}
            </md-icon>
            <span translate="{{::item.title}}" translate-cloak ng-style="::menuCtrl.sidenavStyle.textColor"></span>
          </md-button>
          <md-menu-content width="4">
            <md-menu-item ng-repeat="subItem in item.subItems" ng-if="menuCtrl.hasPermission(subItem)">
              <md-button ng-click="menuCtrl.openMenuOrRedirectToState($mdMenu, $event, subItem)" >
                <span md-menu-align-target>
                  <md-icon md-font-set="material-icons" class="pull-left menu-icon">
                    {{::subItem.icon}}
                  </md-icon>
                  <span translate="{{::subItem.title}}"></span>
                </span>
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </li>
    </ul>
  </md-content>
</md-sidenav>
