<content-body>
  <div flex>
    <div>
      <box box-title="{{'messages.attention' | translate}}" toolbar-bg-color="default-warn">
        <box-toolbar-buttons>
          <i class="material-icons">block</i>&nbsp;&nbsp;
        </box-toolbar-buttons>
        {{'messages.notAuthorized' | translate}}
      </box>
    </div>
  </div>
</content-body>
