<content-body>
    <div flex ng-include src="global.clientPath + '/roles/roles-form.html'" ng-show="rolesCtrl.viewForm"></div>
    <div flex ng-include src="global.clientPath + '/roles/roles-list.html'" ng-hide="rolesCtrl.viewForm"></div>
</content-body>