<form name="projectForm" ng-submit="projectsCtrl.save()" novalidate>
  <box box-title="{{::'views.titles.register' | translate}}">
      <box-toolbar-buttons>
        <md-button class="md-icon-button" ng-click="projectsCtrl.goTo('list')">
          <md-icon md-font-set="material-icons" class="md-warn">view_list</md-icon>
          <md-tooltip md-direction="bottom" hide-sm hide-xs>{{ ::'views.actions.list' | translate}}</md-tooltip>
        </md-button>
      </box-toolbar-buttons>
      <md-input-container class="md-block" flex>
        <input type="text" placeholder="{{::'views.fields.project.name' | translate}}" ng-model="projectsCtrl.resource.name" required>
      </md-input-container>
      <md-input-container class="md-block" flex>
        <input  type="text"
                required
                placeholder="{{::'views.fields.project.cost' | translate}}"
                ui-money-mask="2"
                ng-model="projectsCtrl.resource.cost">
      </md-input-container>

      <md-button ng-if="projectsCtrl.resource.id" ng-click="projectsCtrl.viewTasks(projectsCtrl.resource.id)">
          <md-icon md-font-set="material-icons"
          class="md-dark">assignment</md-icon>
          {{ ::'views.actions.manageTasks' | translate}}
        </md-button>
      <box-footer-buttons>
        <md-button class="md-primary md-raised" type="submit">{{::'views.actions.save' | translate}}</md-button>
        <md-button class="md-raised" ng-click="projectsCtrl.cleanForm(projectForm)">{{::'views.actions.clear' | translate}}</md-button>
      </box-footer-buttons>
    </box>
  </form>

