<box box-title="{{ ::'views.actions.list' | translate}}">
  <box-toolbar-buttons>
    <md-button class="md-icon-button" ng-click="projectsCtrl.goTo('form')">
      <md-icon md-font-set="material-icons" class="md-warn">add</md-icon>
      <md-tooltip md-direction="bottom" hide-sm hide-xs>{{ ::'views.actions.add' | translate}}</md-tooltip>
    </md-button>
  </box-toolbar-buttons>

  <md-content layout-padding md-whiteframe="1" class="bottom-4">
    <form class="condensed" ng-submit="projectsCtrl.search(vm.paginator.currentPage)">
      <div layout="row">
        <md-input-container flex=40 flex-xs=75 class="top-20">
          <label>{{::'views.fields.project.name' | translate}}</label>
          <input type="text" ng-model="projectsCtrl.queryFilters.name">
        </md-input-container>
        <md-input-container flex>
        </md-input-container>
        <md-button id="btn-projectsCtrl-filter" class="md-raised md-primary md-mini" type="submit">
          {{::'views.actions.filter' | translate}}
        </md-button>
      </div>
    </form>
  </md-content>

  <md-table-container>
    <table md-table class="condensed">
      <thead md-head>
        <tr md-row>
          <th md-column>{{::'attributes.name' | translate}}</th>
          <th md-column hide-xs>{{::'attributes.project.cost' | translate}}</th>
          <th md-column hide-xs>{{::'views.fields.project.totalTask' | translate}}</th>
          <th md-column hide-xs>{{::'attributes.created_at' | translate}}</th>
          <th md-column class="md-text-center">{{::'views.fields.actions' | translate}}</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="project in projectsCtrl.resources" ng-if="projectsCtrl.resources.length > 0">
          <td md-cell>{{ ::project.name}}</td>
          <td md-cell hide-xs>{{ ::project.cost | currency}}</td>
          <td md-cell hide-xs>{{ ::project.tasks.length}}</td>
          <td md-cell hide-xs>{{ ::project.created_at | c2Date:null:dateFormat}}</td>
          <td md-cell class="md-text-center">
            <md-button class="md-icon-button" ng-click="projectsCtrl.edit(project)">
              <md-icon md-font-set="material-icons"
                class="md-dark">create</md-icon>
              <md-tooltip md-direction="top" hide-sm hide-xs>{{::'views.actions.edit' | translate}}</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="projectsCtrl.viewTasks(project.id)">
              <md-icon md-font-set="material-icons"
                class="md-dark">assignment</md-icon>
              <md-tooltip md-direction="top" hide-sm hide-xs>{{::'views.tooltips.task.listTask' | translate}}</md-tooltip>
            </md-button>
            <md-button class="md-icon-button" ng-click="projectsCtrl.remove(project)">
              <md-icon md-font-set="material-icons"
                class="md-warn">delete</md-icon>
              <md-tooltip md-direction="top" hide-sm hide-xs>{{::'views.actions.remove' | translate}}</md-tooltip>
            </md-button>
          </td>
        </tr>
        <tr md-row ng-if="projectsCtrl.resources.length == 0">
          <td md-cell colspan="5">
            <div layout="row" layout-align="center center">{{::'messages.notFound' | translate}}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-card-actions layout="row" layout-align="end center">
    <c2-pagination paginator="projectsCtrl.paginator"></c2-pagination>
  </md-card-actions>
</box>
